.drink {
    padding: 10px;
    max-width: 400px;
    background-color: var(--primary-background);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.drinkTitle {
    max-width: 90%;
    font-size: 1.6em;
    color: var(--primary-color);
}

.drinkImage {
    width: 90%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
    border-radius: 5%;
}

.drinkImage:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.5s;
}

.drinkInstructionContainer {
    padding: 10px;
    max-width: 90%;
    max-height: 80px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.drinkInstruction {
    font-size: 1.2em;
    color: var(--primary-color);
    text-align: justify;
}

.drinkButton {
    padding: 6px;
    margin: 5px;
    font-size: 1em;
    color: var(--second-color);
    background: var(--third-color);
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.drinkButton:active {
    transform: scale(0.9);
}