:root {
    --primary-background: #010101;
    --second-background: #676767;
    --third-color: #A64153;
    --second-color: #F9F9F9;
    --primary-color: #EDE8E4;
}

* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-background);
}


#main, #searchedContainer {
    background-color: var(--primary-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 2%;
}

p, a, h1 {
    text-decoration: none;
    color: var(--second-color);
}

.link:hover{
    color: var(--third-color);
}

.info {
    display: flex;
    justify-content: space-around; 
    background-color: #3a3b47; 
    margin-top: 25px; 
    padding: 25px 0px;
}

.icons {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
    padding-bottom: 5px; 
    border-bottom: 1px solid var(--third-color); 
}
